.ui-state-datepicker-scheduled {
	border: .05em groove #DF3B39;
	
	/*background: #eeeeee url(images/ui-bg_glass_40_0078a3_1x400.png) 50% top repeat-x;*/
	 /*color: #511789;*/
}

.ui-state-datepicker-unscheduled {
	border: .05em;
	/*background: #eeeeee url(images/ui-bg_glass_40_0078a3_1x400.png) 50% top repeat-x;*/
	 /*color: #511789;*/
}

.dateArea {
	color: #FF9D37;
	font-size: 20px;
}
